:root {
    --Lexend-Zetta: 'Lexend Zetta';
    --Google-Sans: 'Google Sans';
}

body {
    height: 100vh;
    font-family: var(--Google-Sans), sans-serif;
    font-optical-sizing: auto;
}

#app {
    height: 100%;
}
